div#header

	a(href='/' style='font-size:30px;') Home
	| 

	a(href='/restaurants' style='font-size:30px;') Browse Restaurants
	| 

	a(href='/addrestaurant' style='font-size:30px;') Add Restaurant
	| 